*,*:before,*:after{
    margin:0;
    padding:0;
   box-sizing:border-box;
}
html,body{

    width:100%;
    height:100%;
}
section {
    width: 100%;
    height: 100vh;
    border-top: 5px solid #fff;
}
    section:first-child {
        border: 0;
    }


.section-1 {
    background: url(imagess/01.jpg);
    background-attachment: fixed;
    
}
.section-2 {
    background: url(imagess/02.jpg);
    background-attachment: fixed;
}
.section-3 {
    background: url(imagess/03.jpg);
    background-attachment: fixed;
}
.section-4 {
    background: url(imagess/04.jpg);
    background-attachment: fixed;
}